version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - '4000:4000'
    environment:
      - NODE_ENV=production

  frontend:
    build: ./frontend
    ports:
      - '5173:80'   
    depends_on:
      - backend
    environment:
      - VITE_API_BASE_URL=/api
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  default:
    driver: bridge